.layout-container {
    display: flex;
    padding: 20px 100px 20px 50px;
    gap: 40px;
    
}

.calendar-container {
    flex: 2;
}

.form-container {
    flex: 1;
    max-width: 350px;
}

.form-wrapper {
    background: rgba(255, 255, 255, 0.916);
    padding: 15px;
    border: 2px solid #ffffff5a;
    border-radius: 20px;
    margin-bottom: 15px;
    -webkit-box-shadow: 4px 5px 12px 0px rgba(151,184,200,0.51); 
    box-shadow: 4px 5px 12px 0px rgba(151,184,200,0.51);
    width: 100%;
    margin: 0 auto;
}

.form-title {
    color: #495962;
    margin-bottom: 15px;
    margin-top: 5px;
}

.form-field {
    margin-bottom: 5px;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
    color: #495962;
}

.course-form textarea {
    width: 100%;
    padding: 6px;
    border: 2px solid #93cfe31b;
    border-radius: 5px;
    background-color: #f1f7f9;
    margin-bottom: 2px;
    height: 50px;
}

.submit-button {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.active-button {
    background: #007bff !important;
    color: white !important;
    border: none;
}

.generic-button {
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    background: rgb(255, 255, 255);
    color: black;
    padding: 8px;
}

.task-form {
    margin-top: 20px;
}

.form-field input,
.form-field select,
.form-field textarea {
    width: 100%;
    box-sizing: border-box;
} 

.choice-wrapper {
    display: flex;
}