.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: rgba(255, 255, 255, 0.916);
    text-align: center;
    border: 2px solid #ffffff5a;
    border-radius: 20px; 
    height: 350px;
    width: 250px;
    -webkit-box-shadow: 4px 5px 12px 0px rgba(151,184,200,0.51); 
    box-shadow: 4px 5px 12px 0px rgba(151,184,200,0.51);
}

.message {
    text-align: center;
    color: #8eb5ca;
    font-size: small;
    font-weight: bold;
    margin-top: 20px;
    line-height: 0.5;
}

h2 {
    margin-top: 30px;
    color: #495962;
}

input {
    border: 2px solid #93cfe31b;
    border-radius: 5px;
    background-color: #f1f7f9;
    margin: 10px 0px 10px;
    width: 200px;
    height: 40px;
    outline: none;
}

input::placeholder {
    opacity: 0.15;
    color: #093651;
    font-weight: bold;
    text-align: center;
}

.fade {
    background-color: #8bc9de;
    color: #ffffff;
    transition: background-color 0.3s;
}

.fade:hover {
    background-color: #6fb2ca;
}

button {
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px 20px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, #ffffff 1s;
}

