.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: rgba(255, 255, 255, 0.916);
    text-align: center;
    border: 2px solid #ffffff5a;
    border-radius: 20px; 
    height: 350px;
    width: 250px;
    -webkit-box-shadow: 4px 5px 12px 0px rgba(151,184,200,0.51); 
    box-shadow: 4px 5px 12px 0px rgba(151,184,200,0.51);
}

.message {
    text-align: center;
    color: #8eb5ca;
    font-size: small;
    font-weight: bold;
    margin-top: 20px;
    line-height: 0.5;
}

