<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StudyStraight - Home</title>
  </head>
  <body>
  <h2>Home Page (WIP)</h2>
    <p>This should show up on the landing page</p>
    <p>I commented out the Database section in settings.py because it only runs if my (Travis's) machine is turned on AND
    the ngrok url is updated. The problem is every time I power off my machine, the ngrok url and port changes, so for now it's
    going to stay commented out.</p>
  <p>You also may have noticed how ugly this landing page is. That is because it is only in HTML, and it is just running through Django's views.
  Plan was to use next.js for the front end, so we likely won't use these views at all in the end, but for now it is all that we have set up.</p>
  <p>It is very possible to make the pages look nice or at least be functional using django's views, I just did not care to do so for now.</p>
  <p>-Travis</p>
  </body>
</html>